* {
  margin: 0;
  padding: 0;
}

/*//////////////*/
/*Home page*/
/*/////////////*/

/* Home header */

.header-img {
  background-image: url("https://i.imgur.com/jx1gCw4.jpg");
  width: 100%;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: .25;
  position: absolute;
  z-index: -1;
}

#menu-icon {
  position: absolute;
  left: 2%;
  top: 1%;
  color: black;
  font-weight: 800;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

header img, footer img {
  height: 25px;
  width: 25px;
  margin: .5em;
}

#home-header {
  margin-top: 2em;
}

.header-text {
  font-family: 'Rowdies', sans-serif;
}

#home-list {
  margin-top: 5em;
}

#home-list a {
  font-size: 32px;
}

/* SIDE NAV  */

/*//////////////*/
/*  Nav bar     */
/*/////////////*/

nav {
  margin-top: .7em;
  background: black;
  width: 100%;
}

/* main */
main {
  margin-top: 2em;
  font-family: 'Noto Sans JP', sans-serif;
}

/*//////////////*/
/*home page*/
/*/////////////*/
.home-text {
  font-family: 'Red Rose', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}


#home-med h4 {
  font-size: 38px;
}

#home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*//////////////*/
/*about page */
/*/////////////*/

.about-text {
  font-family: 'Red Rose', sans-serif;
  font-size: 18px;
}

/*//////////////*/
/*projects page*/
/*/////////////*/

#my-portfolio {
  margin-top: 1em;
}

.project-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 5%;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

/*//////////////*/
/*contact page */
/*/////////////*/
.contact {
  font-family: 'Rowdies', sans-serif;
}

#get-in-touch {
  margin-top: 1.5em;
}

#submit {
  position: absolute;
  right: 5%;
}

form {
  font-size: 22px;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  bottom: 0;
}

/*//////////////*/
/*  footer      */
/*/////////////*/
.page-footer {
  background: rgba(0,0,0,.2);
  text-align: center;
  padding-bottom: 20px;
}

.page-footer p {
  color: black;
  font-family: 'Rowdies', sans-serif;
  font-size: 26px;
}

#resume {
  font-size: 18px;
}

/*///////////
//Desktop////
///////////*/

@media only screen and (min-width: 900px) {
  .header-img {
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://i.imgur.com/Gjyd4sX.jpg");
  }

}
